*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}

.btn {
    color: white;
    background-color: #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.menu a {
    color: #474747;
    text-decoration: none;
}