*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 30px, bottom right;
    background-repeat: no-repeat;
    padding-top: 20px;
}

nav{
    width: 70%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 900;
}

.color-orange{
    color: #FD6E0A;
}


.btn {
    color: white;
    background-color: #FD6E0A;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

.menu a {
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid black; */
    margin: 30px 50px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image {
    max-width: 585px;
    vertical-align: middle;
}

#about, #skills, #resume {
    padding-top: 130px;
}

.about-container {
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 150px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info{
    display: flex;
    justify-content: space-around;
}

.info-card p {
    line-height: 30px;
    color: #757575;
}

.info-card h4 {
    font-size: 18px;
    color: #474747;
}

.skills-container {
    width: 71%;
    margin: 0 auto;
}

.skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    box-shadow: 0 6px 50px 0 #0000003e;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.skill-card p {
    margin-bottom: 30px;
    line-height: 28px;
    color: #757575;
}

.resume-container {
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}

.resume-container hr {
    margin: 30px 0;
}
.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card .card-title{
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info {
    font-weight: 600;
    margin-bottom: 10px;
    color: #757575;
}

.text-center {
    text-align: center;
}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px;
}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 120px;
}

.footer-container .social{
    max-width: 560px;
}

.footer-container h2 {
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social p{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

.icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea{
    width: 360px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}